<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/submit" method="post" enctype="multipart/form-data">
            <label>Upload File 1:</label><br>
            <input type="file" name="file1" accept=".xlsx, .xls, .csv"><br><br>
            
            <label>Upload File 2:</label><br>
            <input type="file" name="file2" accept=".xlsx, .xls, .csv"><br><br>
            
            <button type="submit">Compare</button>
    </form>
</body>
</html>